<div class="category">
    <img class="product" src="{{imageUrl}}">
    <p><span>{{name}}</span></p>
    <p><span>Price:</span> {{price}}$</p>
    {{#if size}}
    <p><span>Size:</span> {{size}}</p>
    {{/if}}
    <p><span>Description:</span> {{description}}</p>
    <p><span>Color:</span> {{color}}</p>
    <a class="btn" href="/details/{{_id}}">Details</a>
</div>